@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-Medium.woff2') format('woff2'),
        url('PlusJakartaSans-Medium.woff') format('woff'),
        url('PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('PlusJakartaSans-ExtraBold.woff') format('woff'),
        url('PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

