@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.notification {
  position: relative;
  display: flex;
  column-gap: 1.5rem;
  padding: 2rem 2rem 0;
  border-radius: 1rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__inner-content {
    flex: 1;
  }

  &__avatar {
    width: 4rem;
    height: 4rem;
  }

  &__text {
    margin-bottom: 0.3rem;
    color: v.$dark-grayish-blue;
  }

  &__name {
    font-weight: 800;
    color: initial;

    &:hover {
      color: v.$blue;
      cursor: pointer;
    }
  }

  &__link {
    font-weight: 800;
    color: v.$blue;
    text-decoration: none;

    &:visited {
      color: v.$dark-grayish-blue;
    }
  }

  &__time {
    color: v.$grayish-blue;
  }

  &__private-message {
    margin-top: 1.5rem;
    padding: 2rem;
    color: v.$dark-grayish-blue;
    border: 1px solid v.$light-grayish-blue-2;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: v.$light-grayish-blue-1;
    }
  }

  &__comment-img {
    float: right;
    border: 0.3rem solid transparent;
    cursor: pointer;

    &:hover {
      border: 0.3rem double v.$grayish-blue;
      border-radius: 0.9rem;
    }

    @include m.breakpoint-md() {
      margin-left: 2rem;
    }
  }

  &--unread {
    padding: 2rem;
    background-color: v.$very-light-grayish-blue;
    counter-increment: unreadcount;

    & .notification__text::after {
      display: inline-block;
      margin-left: 0.5rem;
      width: 0.8rem;
      height: 0.8rem;
      background-color: v.$red;
      border-radius: 1rem;
      content: '';
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  // Progressive enhancement
  &__checkbox {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }

  &__checkbox:checked,
  &:has(&__checkbox:checked) &__text:after {
    display: none;
  }

  &:has(&__checkbox:checked) {
    background-color: v.$white;
  }

  .js &__checkbox {
    display: none;
  }

  .js &--unread &__inner-content {
    margin-right: 0;
  }
}
