@use '../abstracts/variables' as v;
@use '../base/typography' as t;

.notifications {
  margin-bottom: 6rem;
  font-size: 1.3rem;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &__title {
    display: inline-block;
    font-size: 2rem;
  }

  &__unread-count {
    display: inline-block;
    margin-left: 0.5rem;
    padding: 0 1.1rem;
    color: v.$white;
    background: v.$blue;
    border-radius: 0.9rem;
  }

  &__button {
    font-size: 1.4rem;
    color: v.$dark-grayish-blue;
    background: none;
    border: none;
    cursor: pointer;
  }
}
